.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.09;
  width: 1000px;
  height: 800px;
  background-color: black;
  /* background-image: url('./images/background.jpg'); */
  /* background-repeat: no-repeat; */
}

.square1 {
  width: 800px;
  height: 550px;
  background-color: black;
  transform: skew(15deg, 15deg) rotate(76deg);
}
.person {
  position: absolute;
  width: 80px;
  height: 80px;
}

.obj {
  width: 80px;
  height: 80px;
}

.object1 {
  position: absolute;
  right: 50px;
}
.object2 {
  position: absolute;
  left: 50px;
}
